<ul class=" nav nav-pills flex-column" data-widget="treeview" role="menu" data-accordion="false">
<li class="nav-item">
           <a class="nav-link" asp-action="Dashboard" asp-controller="User">
               <i class="nav-icon fas fa-tachometer-alt"></i>
               <p>
                   Dashboard
               </p>
           </a>
       </li>
       <li class="nav-item">
           <a href="/admin/users" class="nav-link">
               <i class="nav-icon fas fa-users"></i>
               <p>
                   Users
               </p>
           </a>
       </li>
       <li class="nav-item">
           <a href="/admin/questions" class="nav-link">
               <i class="nav-icon fas fa-question"></i>
               <p>
                   Questions
               </p>
           </a>
       </li>
       <li class="nav-item">
           <a href="/admin/answers" class="nav-link">
               <i class="nav-icon fas fa-comment"></i>
               <p>
                   Answers
               </p>
           </a>
       </li>
       <li class="nav-item">
           <a href="/admin/tags" class="nav-link">
               <i class="nav-icon fas fa-tags"></i>
               <p>
                   Tags
               </p>
           </a>
       </li>
       <li class="nav-item">
           <a href="/admin/categories" class="nav-link">
               <i class="nav-icon fas fa-list"></i>
               <p>
                   Categories
               </p>
           </a>
       </li>
       <li class="nav-item">
           <a href="/admin/roles" class="nav-link">
               <i class="nav-icon fas fa-user-tag"></i>
               <p>
                   Roles
               </p>
           </a>
       </li>
       <li class="nav-item">
           <a href="/admin/permissions" class="nav-link">
               <i class="nav-icon fas fa-user-lock"></i>
               <p>
                   Permissions
               </p>
           </a>
       </li>
       <li class="nav-item">
           <a href="/admin/audit-logs" class="nav-link">
               <i class="nav-icon fas fa-history"></i>
               <p>
                   Audit Logs
               </p>
           </a>
       </li>
       <li class="nav-item">
       <a href="/admin/settings" class="nav-link">
           <i class="nav-icon fas fa-cogs"></i>
           <p>
               Settings
           </p>
       </a>
       </li>
</ul>