@model AddDoctorModel;
@{
    ViewData["Title"] = "AddDoctor";
}

<div class="container">
    <div asp-validation-summary="All" class="text-danger" style="background-color:yellow"></div>
    <form class="row g-3" asp-area="Hospital" asp-controller="Doctor" asp-action="AddDoctor" asp-antiforgery="true">
        <div class="col-md-6">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Chembar_Location" class="form-label">Chembar_Location</label>
            <input asp-for="Chembar_Location" type="text" class="form-control">
            <span asp-validation-for="Chembar_Location"></span>
        </div>
        <div class="col-12">
            <label asp-for="Expertise">Expertise</label>
            <input asp-for="Expertise" type="text" class="form-control">
            <span asp-validation-for="Expertise"></span>
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" disabled>
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity" disabled>
        </div>
        <div class="col-md-4">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select" disabled>
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="inputZip" disabled>
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" disabled>
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
@section scripts{
    <partial name ="_ValidationScriptsPartial" />
}

